<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor Mail</title>
    <base href="/" />
    <link href="_content/Blazorise.Icons.FluentUI/FluentSystemIcons-Resizable.css?v=1.8.2.0" rel="stylesheet" />

    <link href="_content/Blazorise/blazorise.css?v=1.8.2.0" rel="stylesheet" />
    <link href="_content/Blazorise.FluentUI2/reboot.css?v=1.8.2.0" rel="stylesheet" />
    <link href="_content/Blazorise.FluentUI2/blazorise.fluentui2.css?v=1.8.2.0" rel="stylesheet" />

    <link rel="stylesheet" href="@Assets["app.css"]" />

    <link rel="icon" type="image/png" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="_content/BlazoriseOutlookClone.UI/app.js"></script>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
